{% extends 'base.html' %}
{% block content %}
<ol>
<h2>{{ user.username }}, {%  if procent > 0.8 %} ты справился с викториной {% else %}ты не справился{% endif %}</h2>
{% for objects in list_answer %}

    <h4><li {% if objects.right == 0 %} class="bad" {% else %} class="good" {% endif %} >Вопрос {{ objects.question }}
        Ответ {{ objects.answer }} - {% if objects.right == 0 %} Неправильно {% else %} Правильно {% endif %} </li></h4>

{% endfor %}
</ol>
    <p>Всего правильных ответов {{ score }}</p>

<a href="/">Вернуться в начало</a>

{% endblock content %}