{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
    <p><a href="/profile/"><img src="{{ user.profile.image.url }}" width="200"></a></p>
    Привет, {{ user.username }}  <a href="logout"> Выйти из аккаунта </a>
    <center><h1><a href="/quiz/">Начать викторину</a></h1></center>
{% else %}

    <h1>Викторина доступна только для зарегистрированных пользователей. Если у тебя есть аккаунт,
        то необходимо <a href="login">войти в аккаунт</a>, если у тебя нет аккаунта, то необходимо <a href="register">зарегистрироваться</a></h1>
{% endif %}
{% endblock content %}