<!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Welcome to Quiz App</title>
        </head>
        <body>
        {% if user.is_authenticated %}
            <h1><a href="logout"> logout ddf {{ user.username }}</a></h1>
            <center><h1><a href="/quiz/">Start Quiz</a></h1></center>
        {% else %}
                <form action="" method="post" name="login">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Войти</button>
    </form>
    <center><h1><a href="login">Войти</a></h1></center>
            <center><h1><a href="register">Start Quiz</a></h1></center>
        {% endif %}
        </body>
        </html>